@mixin flex($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap($justify: normal, $align: normal) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-content: $align;
}

@mixin desktop-1100 {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin laptop-950 {
  @media screen and (max-width: 950px) {
    @content;
  }
}

@mixin tablet-800 {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin mobile-600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin mobile-500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}
