* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-main-bg;
  min-height: 100vh;
  overflow-y: scroll;
  @include flex(center, center);
  position: relative;
  // padding: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  // display: none;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-in-out;

  @include flex(center, center);
}

.overlay-show {
  z-index: 1;
  opacity: 1;
}  

.wrapper {
  // margin-left: auto;
  // margin-right: auto;
  margin: 30px;
  max-width: 1100px;
  width: 100%;

  
  height: auto;
  // max-height: 900px;
  @include flex-column(normal, center);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px $color-light;

  @include desktop-1100 {
    padding: 50px 30px;
  }

  @include laptop-950 {
    padding: 40px 20px;
  }

  @include tablet-800 {
    // padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  @include mobile-500 {
    padding: 16px;
  }

}

.title {
  font-family: 'Lilita One';
  font-size: 50px;
  color: $color-key;
  margin: 0;
  text-shadow: 0px 0px 3px black;

  @include tablet-800 {
    font-size: 35px;
  }

  @include mobile-500 {
    font-size: 30px;
  }
}

.main {
  
  width: 100%;
  // height: auto;
  max-height: 700px;
  margin-top: 50px;
  position: relative; 

  @include flex-wrap(normal, normal);
  // justify-content: space-between;
  flex-direction: column;

  @include laptop-950 {
    flex-direction: row;
    justify-content: space-between;
  }

  @include tablet-800 {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    max-height: none;
  }

  @include mobile-500 {
    margin-top: 30px;
    // height: 650px;
    // height: 100%;
    justify-content: space-between;
  }


}

.gallows-box {
  order:1;
  // grid-area: gallows;
  width: 320px;
  position: relative;
  
  @include flex(center, normal);

  @include laptop-950 {
    width: 35%;
  }


  @include tablet-800 {
    width: 40%;
  }

  @include mobile-600 {
    width: 50%;
  }

  @include mobile-500 {
    width: 200px;
  }



  .gallows {
    width: 100%;


  }

  .hangman {
    // width: 320px;
    width: 100%;
    position: absolute;
    top: 0;
    
    // @include laptop-1024 {
    //   width: 270px;
    // }

  }

  .body-part {
    width: 100%;
    position: absolute;
    // z-index: 2;
  
  } 

  .halo {
    opacity: 0;
  }  

  .halo-show {
    animation: halo-show 1s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  
  .hidden {
    display: none;
  }  
 
}

.question-box {
  order:2;
  // grid-area: question;
  @include flex(center, center);
  align-self: center;
  width: 500px;
  height: 250px;
  @include laptop-950 {
    width: 450px;
  }

  @include mobile-600 {
    width: 100%;
    height: 200px;
  }

  @include mobile-500 {
    height: 160px;
  }

  .question {
    // align-self: center;
    // height: 250px;

    @include flex-column(center, center);
    width: 100%;

 



  



  
    .answer-box {
      width: 100%;
      @include flex(center);
      gap: 15px;

      @include mobile-600 {
        gap: 10px;
      }
      
      .letter-box {
        @include flex(center,center);
        width: 40px;
        height: 40px;
        border-bottom: 3px solid $color-secondary;
        color: $color-light;
        font-size: 35px;
        font-family: 'Lilita One';

        @include mobile-600 {
           width: 7%;
           font-size: 30px;
           border-bottom: 2px solid $color-secondary;
        }

        @include mobile-500 {
          font-size: 25px;
        }
       
      }
    }
  
    .hint {
      color: $color-light;
      font-size: 30px;
  
      font-family: 'Signika';
      margin-top: 40px;
      text-align: center;
  
      @include desktop-1100 {
        font-size: 25px;
      }

      @include mobile-600 {
        margin-top: 30px;
        font-size: 20px;
      }

      @include mobile-500 {
        font-size: 18px;
        margin-top: 20px;
      }

      
  
  
    }
  
    .guesses {
      color: $color-light;
      font-size: 30px;
  
      font-family: 'Signika';
      margin-top: 30px;
      @include flex;
      @include desktop-1100 {
        font-size: 25px;
      }

      @include mobile-600 {
        font-size: 20px;
        margin-top: 20px;
      }

      @include mobile-500 {
        font-size: 18px;
      }
  
      // .guess-text {
      //   width: 250px;
      // }
  
      .guess-count {
        width: 20px;

        @include mobile-600 {
          width: 15px;
        }
      }
  
      .guess-max {
        width: 40px;
        @include mobile-600 {
          width: 25px;
        }
      }
  
      .guess-count, .guess-max {
        color: red;
      }
    }

  }

}

.keyboard-box {
  order:3;
  // grid-area: keyboard;
  padding-top: 40px;
  align-self: center;
  
  @include flex(center,center);

  @include laptop-950 {
    width: 100%;
  }

  @include tablet-800 {
    padding-top: 0;
  }



  .keyboard {
    max-width: 500px;
    @include flex-wrap(center,center);
    gap: 10px;

    @include mobile-600 {
      width: 90%;
      gap: 8px;
    }

    @include mobile-500 {
      width: 100%;
      gap: 7px;
    }
  }
  
 

  // @include desktop-1100 {
  //   padding: 40px 15px 0 15px;
  // }

  // @include laptop-1024 {
  //   padding: 40px 120px 0 120px;
  // }

  .key {
    width: 45px;
    height: 45px;
    background-color: $color-key;
    border-radius: 5px;
    color: $color-main-bg;
    font-size: 35px;
    font-family: 'Lilita One';
    text-align: center;
    cursor: pointer;
    // opacity: 0.5;

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    @include mobile-600 {
      width: 8%;
      height: 40px;
      font-size: 25px;

    }

    @include mobile-500 {
      height: 35px;
      font-size: 20px;
      width: 9%;
    }
  }
}

@keyframes halo-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}





